
<div class="content" role="main">
    <router-outlet>
      
    </router-outlet>
    <!-- Resources -->
  
    <div class="card-container">
        <div class="card-container">
      <mat-card class="example-card">
          
        <mat-card-header>
          <div mat-card-avatar class="example-image-transaksi"></div>
          <mat-card-title> TRANSAKSI</mat-card-title>
          
        </mat-card-header>
        
        <br><br>
        <button mat-button routerLink="../transaksi/penjualan"><mat-icon>shop</mat-icon> PENJUALAN</button>
        <br><br>
        <button mat-button routerLink="../transaksi/pembelian"><mat-icon>add_shopping_cart</mat-icon> PEMBELIAN</button>
        <br><br>
        <button mat-button routerLink="../transaksi/kassa"><mat-icon>shopping_cart</mat-icon> KASSA</button>
        
      </mat-card>
    </div>
    <div class="card-container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-image-master"></div>
            <mat-card-title>MASTER</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <button mat-button routerLink="../master/barang" ><mat-icon> bar_chart</mat-icon> BARANG</button>
        <br><br>
        <button mat-button routerLink="../master/supplier" ><mat-icon> business</mat-icon> SUPPLIER</button>
        <br><br>
        <button mat-button routerLink="../master/customer" ><mat-icon> contacts</mat-icon> CUSTOMER</button>
        <br><br>
        <button mat-button routerLink="../master/info-ime" ><mat-icon>info</mat-icon> INFO IME / SN</button>
        
        </mat-card>
        </div>
      </div>
  

      <div class="card-container">
        <div class="card-container">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-image-laporan"></div>
          <mat-card-title>LAPORAN</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <button mat-button routerLink="../laporan/pembelian"><mat-icon>print</mat-icon> PENJUALAN</button>
        <br><br>
        <button mat-button routerLink="../laporan/penjualan"><mat-icon>assessment</mat-icon> PEMBELIAN</button>
        <br><br>
        <button mat-button routerLink="../laporan/stok-barang"><mat-icon>archive</mat-icon> STOK BARANG</button>
        
      </mat-card>
    </div>
    <div class="card-container">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-image-utility"></div>
            <mat-card-title>UTILITY</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <br><br>
        <button mat-button routerLink="../utility/user-account"><mat-icon>account_box</mat-icon> USER ACCOUNT</button>
        <br><br>
        <button mat-button routerLink="../utility/ubah-password"><mat-icon>no_encryption</mat-icon> UBAH PASSWORD</button>
        <br><br>
        <button mat-button routerLink="../utility/instansi"><mat-icon>business_center</mat-icon> INSTANSI</button>
        
        </mat-card>
        </div>
      </div>
  </div>


  
  
  